<div class="layout-topbar">

    <a routerLink="/" *ngIf="appMain.isHorizontal() && !appMain.isMobile()" class="topbar-logo">
        <img alt="logo" src="assets/layout/images/logo-slim.png" />
    </a>

    <img alt="logo" src="assets/layout/images/logo-slim.png" class="mobile-logo"/>

    <a href="#" class="menu-btn" (click)="appMain.onMenuButtonClick($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a href="#" class="topbar-menu-btn" (click)="appMain.onTopbarMobileMenuButtonClick($event)">
        <i class="pi pi-user"></i>
    </a>

    <div class="layout-topbar-menu-wrapper">
        <ul class="topbar-menu fadeInDown" [ngClass]="{'topbar-menu-active': appMain.topbarMenuActive}" (click)="appMain.onTopbarMenuClick($event)">
            <li #profile class="profile-item" [ngClass]="{'active-topmenuitem': appMain.activeTopbarItem === profile}" (click)="appMain.onTopbarRootItemClick($event, profile)">
                <a href="#">
                    <span class="profile-image-wrapper">
                        <img src="assets/layout/images/2x/avatar.png"/>
                    </span>
                    <span class="topbar-item-name profile-name">{{userData}}</span>
                </a>
                <ul class="fadeInDown">
                    <li role="menuitem">
                        <a href="#"(click)="logout()">
                            <i class="pi pi-power-off"></i>
                            <span>Cerrar sesión</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li #settings [ngClass]="{'active-topmenuitem':appMain.activeTopbarItem === settings}" (click)="appMain.onTopbarRootItemClick($event, settings)">
                <a href="#">
                    <i class="topbar-icon pi pi-cog"></i>
                    <span class="topbar-item-name">Settings</span>
                </a>
                <ul class="fadeInDown">
                    <li role="menuitem">
                        <a href="#">
                            <span>
                                <h6 class="mt-0">Tema del sitio</h6>
                                <br>
                                <div class="formgroup-inline">
                                    <div class="field-radiobutton">
                                        <p-radioButton name="layoutColor" value="light" [(ngModel)]="app.layoutColor" inputId="layoutColor2" (onClick)="onLayoutColorChange($event, 'light')"></p-radioButton>
                                        <label for="layoutColor2">Claro</label>
                                    </div>
                                    <div class="field-radiobutton">
                                        <p-radioButton name="layoutColor" value="dark" [(ngModel)]="app.layoutColor" inputId="layoutColor1" (onClick)="onLayoutColorChange($event, 'dark')"></p-radioButton>
                                        <label for="layoutColor">Oscuro</label>
                                    </div>
                                </div>
                            </span>
                            <span>
                                <h6 class="mt-0">Orientación del menú</h6>
                                <br>
                                <div class="formgroup-inline">
                                    <div class="formgroup-inline">
                                        <div class="field-radiobutton">
                                            <p-radioButton name="layoutMode" value="overlay" *ngIf="app.layoutMode !== 'static'" [(ngModel)]="app.layoutMode" inputId="mode1"></p-radioButton>
                                            <p-radioButton name="layoutMode" value="static" *ngIf="app.layoutMode === 'static'" [(ngModel)]="app.layoutMode" inputId="mode1"></p-radioButton>
                                            <label for="mode1">Vertical</label>
                                        </div>
                                        <div class="field-radiobutton">
                                            <p-radioButton name="layoutMode" value="horizontal" [(ngModel)]="app.layoutMode" inputId="mode2"></p-radioButton>
                                            <label for="mode2">Horizontal</label>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </a>
                        
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
